@import '../../scss/_vars.scss';

nav {
  padding: 10px;

  a {
    padding: 10px;
    text-decoration: none;
    color: $green;
  }
}
mark {
  border-radius: 10px;
  background-color: lightblue;
  display: flex;
  flex-direction: column-reverse;
}